<ng-container *ngIf="variant === 'desktop'; else mobileVariant">
  <ng-container *ngIf="auth.user$ | async as user; else desktopLoggedOut">
    <div class="dropdown">
      <button
        class="btn btn-outline-light dropdown-toggle user-trigger"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <img
          *ngIf="user.picture; else desktopInitials"
          [src]="user.picture"
          alt="avatar"
          width="28"
          height="28"
          class="rounded-circle mr-2" />
        <ng-template #desktopInitials>
          <span class="user-initials mr-2">{{ (user.name || user.email) | slice:0:1 | uppercase }}</span>
        </ng-template>
        <span>{{ user.name || user.email }}</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right shadow">
        <span class="dropdown-item-text text-muted small">{{ user.email }}</span>
        <div class="dropdown-divider"></div>
        <a routerLink="/area-do-candidato" class="dropdown-item">
          <i class="fas fa-user mr-2"></i> Minha conta
        </a>
        <a routerLink="/simulado" class="dropdown-item">
          <i class="fas fa-play mr-2"></i> Simulados
        </a>
        <div class="dropdown-divider"></div>
        <button type="button" class="dropdown-item text-danger" (click)="logout()">
          <i class="fas fa-sign-out-alt mr-2"></i> Sair
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #desktopLoggedOut>
    <button type="button" class="btn btn-primary" (click)="login()">Entrar com Google</button>
  </ng-template>
</ng-container>

<ng-template #mobileVariant>
  <ng-container *ngIf="auth.user$ | async as user; else mobileLoggedOut">
    <div class="mobile-auth card bg-transparent border-0 text-white">
      <div class="d-flex align-items-center mb-3">
        <img
          *ngIf="user.picture; else mobileInitials"
          [src]="user.picture"
          alt="avatar"
          width="40"
          height="40"
          class="rounded-circle mr-3 border border-light" />
        <ng-template #mobileInitials>
          <span class="user-initials mr-3">{{ (user.name || user.email) | slice:0:1 | uppercase }}</span>
        </ng-template>
        <div>
          <div class="font-weight-semibold">{{ user.name || user.email }}</div>
          <small class="text-white-50">{{ user.email }}</small>
        </div>
      </div>
      <a routerLink="/area-do-candidato" class="btn btn-outline-light btn-block mb-2" (click)="handleNav()">Minha conta</a>
      <a routerLink="/simulado" class="btn btn-outline-light btn-block mb-2" (click)="handleNav()">Simulados</a>
      <button type="button" class="btn btn-danger btn-block" (click)="logout()">Sair</button>
    </div>
  </ng-container>
  <ng-template #mobileLoggedOut>
    <button type="button" class="btn btn-primary btn-block" (click)="login()">Entrar com Google</button>
  </ng-template>
</ng-template>
