<ng-container *ngIf="auth.user$ | async as user; else loggedOut">
  <div class="d-flex align-items-center">
    <img
      *ngIf="user.picture"
      [src]="user.picture"
      alt="avatar"
      width="24"
      height="24"
      class="rounded-circle mr-2"
    />
    <span class="small mr-2">{{ user.name || user.email }}</span>
    <button class="btn btn-outline-dark btn-sm" (click)="logout()">Sair</button>
  </div>
</ng-container>

<ng-template #loggedOut>
  <button class="btn btn-outline-primary btn-sm" (click)="login()">Entrar com Google</button>
</ng-template>
